table {
  table-layout: fixed;
  border: 5px solid black;
  width: 650px;
  height: 650px;
}

table, th, td {
  border: 1px solid black;
}

td {
  font-size: 12px;
  text-align: center;
  width: 50px;
  height: 50px;
}
